/* Global style */

a {
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

/* Page */
.page-container {
    border: 2px solid grey;
    margin: 20px auto;
    padding: 10px 10px;

    max-width: 75vw;
}

/* NavBar */
.navbar-container {
    border: 2px solid red;

    /* Navbar row layout */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    border-bottom: 2.5px solid black;
}

.navbar-container header > a {
    font-family: 'Playfair Display', serif;
    font-size: 1.6rem;
    font-weight: 800;
}

/* Menu */
.menu-container {
    border: 2px solid orange;
    height: 0;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 0;
    margin-bottom: 0;
}

.menu-container.active {
    height: auto;

    margin-top: 20px;
    margin-bottom: 20px;
}

.menu-item {
    width: 100%;
    text-align: center;
    border: 2px solid yellow;
    border-bottom: solid 1px black;

    padding: 10px 0px;
}

/* News */

.news-container {
    border: 2px solid blue;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;

    margin: 20px 0px;
}

.news-container .news-item {
    border: 2px solid cyan;
}

.news-container img {
    border: 2px solid turquoise;

    width: 100%;
    overflow: hidden;
}

.news-container h3 {
    border: 2px solid purple;

    margin: 0;
    padding: 5px 0px;
}

.news-container p {
    border: 2px solid pink;

    margin: 0;
}

/* Media Query for */
/* Menu and News */

/* News: 3 Column > 2 Column */
@media screen and (max-width: 960px) {
    .news-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

/* News: 2 Column > 1 Column
/* Menu: Open > Collapsed */
@media screen and (max-width: 680px) {
    .news-container {
        display: grid;
        grid-template-columns: 1fr;
    }
} 